<section id="portfolio">
  <div class="portfolio">
    <div class="container content">
      <div class='col-xs-12'>
        <div class='row'>
          <div class='col-xs-10 col-xs-offset-1'>
            <div class="title">
              <p class='last'>last</p>
              <p class='projects'>projects</p>
            </div>
          </div>
        </div>

        <div class='row'>
          <div class='col-xs-10 col-xs-offset-1'>
            <div class="wrapper--galleria-rectangle">
              <div class='flex-container--galleria-and-rectangle'>
                <div class='galleria flex-item--galleria-and-rectangle'>
                  <div class="flex-container">
                      <div class='flex-item img-project rectangle-and-text-hover'
                         style="background-image: url(<%= image_path('portfolio/2.jpg') %>)" >
                        <a href='https://www.landlordsny.com' target="_blank">
                          <div class='flex-container-info'>
                            <div class='flex-item-info'>
                              <div class="info">
                                <p class='name-project'>web site «landlordsny»</p>
                                <div class='horizontal-line'></div>
                                <p class='info-project'>
                                  At LandlordsNY.com, landlords and property managers across New York have an exclusive social network for the first time ever. Confer with complete confidentiality on any issue with a private community of your peers. And no matter what product or service you’re looking for, you’ll find qualified vendors and trusted referrals from your fellow landlords.
                                </p>
                                <div class='horizontal-line'></div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>

                    <div class='flex-item img-project rectangle-and-text-hover'
                         style="background-image: url(<%= image_path('portfolio/3.jpg') %>)" >
                      <a href='https://www.landlordsny.com' target="_blank">
                        <div class='flex-container-info'>
                          <div class='flex-item-info'>
                            <div class="info">
                              <p class='name-project'>web site «gold avenue»</p>
                              <div class='horizontal-line'></div>
                              <p class='info-project'>
                                Gold Avenue is a Swiss independent company of an industrial and trading services group specialized in all aspects of the precious metals busines
                              </p>
                              <div class='horizontal-line'></div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>


                    <div class='flex-item img-project rectangle-and-text-hover'
                         style="background-image: url(<%= image_path('portfolio/6.jpg') %>)" >

                      <a href='https://www.landlordsny.com' target="_blank">
                        <div class='flex-container-info'>
                          <div class='flex-item-info'>
                            <div class="info">
                              <p class='name-project'>web site «up stack»</p>
                              <div class='horizontal-line'></div>
                              <p class='info-project'>
                                UpStack is the web platform for colocation and network procurement. It's new standard in hybrid IT procurement, aimed at empowering IT professionals and their consultants across the globe with data and tools historically only available to large, hyperscale companies.
                              </p>
                              <div class='horizontal-line'></div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="flex-container">
                    <div class='flex-item img-project rectangle-and-text-hover'
                         style="background-image: url(<%= image_path('portfolio/5.jpg') %>)" >
                      <a href='https://platform.naprok.com' target="_blank">
                        <div class='flex-container-info'>
                          <div class='flex-item-info'>
                            <div class="info">
                              <p class='name-project'>web site «naprok»</p>
                              <div class='horizontal-line'></div>
                              <p class='info-project'>
Naprok is an independent IT consulting company which provides screened engineers from service-based companies to your product one. Our team is good at finding out professional staff members, or, indeed, a small team who you achieving long-term plans with.
                              </p>
                              <div class='horizontal-line'></div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>

                    <div class='flex-item img-project img-project-5 rectangle-and-text-hover'
                         style="background-image: url(<%= image_path('portfolio/1.jpg') %>)" >

                      <a href='https://www.landlordsny.com' target="_blank">
                        <div class='flex-container-info'>
                          <div class='flex-item-info'>
                            <div class="info">
                              <p class='name-project'>web site «everseat»</p>
                              <div class='horizontal-line'></div>
                              <p class='info-project'>
                                Everseat is the revolutionary app that is disrupting the current supply & demand equation for scheduling appointments. Service providers including physicians, dentists, vets, hair-stylists, massage therapists and more can seamlessly fill schedule gaps with interested and available users. It’s faster, easier, and more fun than time-consuming, often unsuccessful phone calls or wait lists.
                              </p>
                              <div class='horizontal-line'></div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>

                    <div class='flex-item img-project img-project-6 rectangle-and-text-hover'
                         style="background-image: url(<%= image_path('portfolio/4.jpg') %>)" >

                      <a href='https://www.landlordsny.com' target="_blank">
                        <div class='flex-container-info'>
                          <div class='flex-item-info'>
                            <div class="info">
                              <p class='name-project'>web site «classlyapp»</p>
                              <div class='horizontal-line'></div>
                              <p class='info-project'>
                                Classly is a brand new chat app that helps you to learn together with your classmates and teachers.
                              </p>
                              <div class='horizontal-line'></div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                </div>

                <div class='rectangle-portfolio flex-item--galleria-and-rectangle'></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
