<section id='team'>
  <div class='team'>
    <div class='container-fluid'>

      <div class='col-xs-4 col-xs-offset-1'>
        <div class='section-left-text'>
          <div class='title'>
            <p class='text-our'>OUR</p>
            <p class='text-team'>TEAM</p>
          </div>
          <p class='paragraph'>
            Each of us might be as a ninja, unicorn or cat fancier deep inside.
            What unites us, nevertheless, are our abiding commitment to code writing
            and desire to transform the world through making of high-tech dreams come true
          </p>
          <div class='horizontal-line'></div>
        </div>
      </div>

      <div class='col-xs-6'>
        <div class='faces'>

          <div class="flex-container">
            <div class='flex-item animated fadeInDown rectangle-and-text-hover img-face'
               style="background-image: url(<%= image_path('team/avatars/Vova.png') %>)" >
              <div class='text'>
                <p class='name'>Vova</p>
                <div class='horizontal-line'></div>
                <p class='specialization'>fullstack web developer</p>
              </div>
            </div>

            <div class='flex-item animated fadeInDown rectangle-and-text-hover img-face'
               style="background-image: url(<%= image_path('team/avatars/Eugene.png') %>)" >
              <div class='text'>
                <p class='name'>Eugene</p>
                <div class='horizontal-line'></div>
                <p class='specialization'>CEO</p>
              </div>
            </div>

            <div class='flex-item animated fadeInRight rectangle-and-text-hover img-face'
               style="background-image: url(<%= image_path('team/avatars/Tania.png') %>)" >
              <div class='text'>
                <p class='name'>Tanusha</p>
                <div class='horizontal-line'></div>
                <p class='specialization'>web designer</p>
              </div>
            </div>
          </div>
          <div class="flex-container">
            <div class='flex-item animated fadeInDown rectangle-and-text-hover img-face'
               style="background-image: url(<%= image_path('team/avatars/Nadia.png') %>)" >
              <div class='text'>
                <p class='name'>Nadia</p>
                <div class='horizontal-line'></div>
                <p class='specialization'>office manager</p>
              </div>
            </div>

            <div class='flex-item animated fadeInDown rectangle-and-text-hover img-face'
               style="background-image: url(<%= image_path('team/avatars/Vitalik2.png') %>)" >
              <div class='text'>
                <p class='name'>Vitalik</p>
                <div class='horizontal-line'></div>
                <p class='specialization'>fullstack web developer</p>
              </div>
            </div>

            <div class='flex-item animated fadeInRight rectangle-and-text-hover img-face'
               style="background-image: url(<%= image_path('team/avatars/Petia.png') %>)" >
              <div class='text'>
                <p class='name'>Petia</p>
                <div class='horizontal-line'></div>
                <p class='specialization'>fullstack web developer</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
