<section id='why-us'>
  <div class='container-fluid'>
    <div class='container right-vertikal-line'>
      <div class='advantages-header'>
        <span class='why-us-number image-why-us'></span>
        <h2><b>advantages</b> of our approch <br/> to development</h2>
        <span class='advantages-line-w'></span>
      </div>

      <div class='advantages-body'>
        <div class='row'>
          <div class='col-xs-6'>
            <div class='advantage-item'>
              <div class='img-and-title'>
                <%= image_tag('why-us/1.png', class: 'img-mb pull-left', align: 'left') %>
                <span class='title'>Two weeks free trial</span>
              </div>
              <p class='text text-1 text-1-4-5'>
                From here, twofold benefits are achieved.
                Firstly, developers have enough time to give an impression about their skills. Secondly, this means <br/>you can evaluate their collaboration with the other employees
              </p>
            </div>
          </div>

          <div class='col-xs-6'>
            <div class='advantage-item'>
              <div class='img-and-title'>
                <%= image_tag('why-us/2.png', class: 'img-mb pull-left', align: 'left') %>
                <span class='title title-2'>Full-stack Web and <br /> App developers</span>
              </div>
              <p class='text text-2'>
                Each of developers is good at both front-end and back-end development. Hence, we’ll provide you with engineers who have wider view on your product from the implementation of design on web-page till deploying code on server
              </p>
              <%= image_tag('why-us/circle2x.png', class: 'circle-format') %>
            </div>
          </div>

          <div class='col-xs-6 advantage-item'>
            <div class='advantage-item'>
              <div class='img-and-title'>
                <%= image_tag('why-us/3.png', class: 'img-mb pull-left', align: 'left') %>
                <span class='title'>Agile</span>
              </div>
              <p class='text text-3'>
                Your business is in permanent progress. We either. Using code refactoring and BDD, we carry on with effectual development
              </p>
            </div>
          </div>

          <div class='col-xs-6'>
            <div class='advantage-item'>
              <div class='img-and-title'>
                <%= image_tag('why-us/4.png', class: 'img-mb pull-left', align: 'left') %>
                <span class='title'>Maintenance & Support</span>
              </div>
              <p class='text text-4 text-1-4-5'>
                We become responsible, forever, for what we have written. Upon implementing of the project, we are providing you with maintenance, support and realization of new features that might be carried out.
              </p>
            </div>
          </div>

          <div class='row container-with-img-statue'>
            <div class='col-xs-6 advantage-item'>
              <%= image_tag('why-us/statue.png', class: 'statue') %>
            </div>
            <div class='col-xs-6 advantage-item'>
              <div class='img-and-title'>
                <%= image_tag('why-us/5.png', class: 'img-mb pull-left', align: 'left') %>
                <span class='title'>Free code audit</span>
              </div>
              <p class='text text-5 text-1-4-5'>
                Like so many efficient code evangelists, we believe that clear code, which was written based on guides and official documentation, is equal to high speed response of your website. Following this procedure we use code analyzers to find out problems we’re going to handle with
              </p>
            </div>
          </div>
        </div>

        <button name='button' type='submit' class='advantages-button' onclick='scroller("contact")'>Contact us</button>
        <span class='underline'></span>
      </div>
    </div>

    <div class='tech container right-vertikal-line'>
      <h2 class='tech-title'><b>Technologies</b><br/> our team covers</h2>
      <span class='advantages-line'></span>
      <button class='arrow-prev-js'> < </button>
      <button class='arrow-next-js'> > </button>
      <span class='advantages-line-right'></span>
    </div>
  </div>

  <div class='technologies'>
    <div class='slider-technologies-slick-js'>
      <div><%= image_tag('why-us/technologies/react.jpg') %></div>
      <div><%= image_tag('why-us/technologies/rails.png') %></div>
      <div><%= image_tag('why-us/technologies/postgresql.png') %></div>
      <div><%= image_tag('why-us/technologies/ionic.png') %></div>
      <div><%= image_tag('why-us/technologies/redux.png') %></div>
      <div><%= image_tag('why-us/technologies/node.png') %></div>
      <div><%= image_tag('why-us/technologies/angular.png') %></div>
      <div><%= image_tag('why-us/technologies/typescript.png') %></div>
      <div><%= image_tag('why-us/technologies/ember.png') %></div>
      <div><%= image_tag('why-us/technologies/mongodb.png') %></div>
      <div><%= image_tag('why-us/technologies/coffe.png') %></div>
      <div><%= image_tag('why-us/technologies/sass.png') %></div>
      <div><%= image_tag('why-us/technologies/jquery.png') %></div>
      <div><%= image_tag('why-us/technologies/less.png') %></div>
      <div><%= image_tag('why-us/technologies/my-sql.png') %></div>
      <div><%= image_tag('why-us/technologies/vue.png') %></div>
    </div>
  </div>
</section>
