<% content_for :open_graph_tags do %>
  <%= render partial: 'shared/open_graph_tags' %>
<% end %>

<div class='main-container'>
  <%= render "header" %>
  <%= render "aboutus" %>
  <%= render "services" %>
  <%= render "how-we-work" %>
  <%= render "team" %>
  <%= render "why-us" %>
  <%= render "portfolio" %>
  <%= render "footer" %>
</div>
