<div class="container-fluid toastr"></div>

<%= render "header" %>
<%= render "aboutus" %>
<%= render "services" %>
<%= render "how-we-work" %>
<%= render "team" %>
<%= render "why-us" %>
<%= render "portfolio" %>
<%= render "footer" %>
