<div class="container-fluid toastr"></div>

<%= render "header" %>
<%= render "aboutus" %>
<%= render "services" %>
<%= render "how-we-work" %>

<div class="clearfix"></div>
<div class="split-side">
  <a href="#home" align="center"><i class="fa fa-chevron-up fa-4x" aria-hidden="true"></i></a>
</div>

<%= render "team" %>
<%= render "why-us" %>
<%= render "portfolio" %>

<div class="split-side" style="background-image: <%= image_path('bg-3.png') %>;">
  <a href="#portfolio"><i class="fa fa-chevron-up fa-4x" aria-hidden="true"></i></a>
</div>

<%= render "footer" %>
