<%= render "welcome/header" %>
<div class="blog_post_image_container">
  <div class="container">
    <div class="row">
        <%= image_tag "blog/logo", class: "blog_logo" %>
        <div class="blog_search_container">
          <label for="blog_search_input">
            <%= image_tag "blog/search", class: "search_icon" %>
          </label>
          <input type="text" class="blog_search" id="blog_search_input" placeholder="SEARCH" />
        </div>
      </div>
  </div>
  <div class="post_photo"></div>
  <div class="container post_main_container">
    <div class="row">
      <%= @post.title %>

      <%= @post.body %>
    </div>  
    <div id="disqus_thread"></div>
  </div>
<script>

    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    
    var disqus_config = function () {
      let PAGE_URL = "http://localhost.com" + "<%= request.original_fullpath %>"
      let PAGE_IDENTIFIER = "<%= @post.id %>"
      this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://test-mile.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
</div>
<%= render "welcome/footer" %>