<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="blog-post">
    <span class="blog-post-created-text"><%= post.formatted_created_date %><br/>by <%= post.author.name %></span>
    <div class="image-wrapper">
      <%= image_tag post.thumbnail_image.url %>
    </div>
    <div class="blog-post-text-block">
      <div class="blog-post-title">
        <%= link_to cut_text(post.title, 45), post_path(post) %>
      </div>
      <div class="blog-post-body">
        <%= cut_text(post.body, 140) %>
      </div>
      <%= link_to 'Read More', post_path(post.id), class: 'blog-post-link' %>
    </div>
  </div>
</div>