<%= render "welcome/header" %>
<div class="blog_image_container">
  <div class="container">
  
    <div class="row">
      <%= image_tag "blog/logo", class: "blog_logo" %>
      <%= form_tag(root_url(subdomain: "blog"), method: :get, class: "blog_search_container")  do %>
        <%= image_submit_tag "blog/search", class: "search_icon_image" %>
        <%= text_field_tag :query, params[:query], class: "blog_search", placeholder: "SEARCH" %>
      <% end %>
    </div>

    <% if @posts.any? %>
      <div class="blog_posts_container row">
        <%= render partial: "post", collection: @posts, as: :post %>
      </div>
      <%= will_paginate @posts, custom_pagination_options() %>
    <% else %>
      <div class="no_posts_text">
        There are no posts here.
      </div>
    <% end %>
  </div>
</div>
<%= render "welcome/footer" %>

