<% content_for :open_graph_tags do %>
  <%= render partial: 'shared/open_graph_tags' %>
<% end %>

<div class="blog-header">
  <%= render 'welcome/header' %>
</div>
<div class="blog-image-container">
  <%= render 'shared/blog_header' %>
  <div class="container">
    <% if @posts.any? %>
      <div class="blog-posts-container row">
        <%= render partial: 'post', collection: @posts, as: :post %>
      </div>
      <%= will_paginate @posts, custom_pagination_options() %>
    <% else %>
      <div class="no-posts-text">
        There are no posts here.
      </div>
    <% end %>
  </div>
</div>
<%= render 'welcome/footer' %>

