<%= render "welcome/header" %>
<div class="blog_image_container">
  <%= render "shared/blog_header" %>
  <div class="container">
  
    <% if @posts.any? %>
      <div class="blog_posts_container row">
        <%= render partial: "post", collection: @posts, as: :post %>
      </div>
      <%= will_paginate @posts, custom_pagination_options() %>
    <% else %>
      <div class="no_posts_text">
        There are no posts here.
      </div>
    <% end %>
  </div>
</div>
<%= render "welcome/footer" %>

