<!DOCTYPE html>
<html>
  <head>
    <title>MileStep LLC</title>
    <link rel="icon" href="favicon.png" type="image/png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="site-content with-scrolling">
      <%= yield %>
    </div>
  </body>
</html>
