<!DOCTYPE html>
<html>
  <head>
    
    <title>MileStep | Web & Mobile App Development Company</title>
    <meta name="description" content="MileStep is an outsourcing company that provides software development services, ranging from technical IT consultancy to extension your in-house staff using dedicated team, creating solutions for custom software and offering support & maintenance to achieve your business goals"/>

      <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KDZM8HX');</script>

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125819177-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-125819177-1');
    </script>

    <!-- Open Graph tags -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="MileStep is an outsourcing company that provides software development services, ranging from technical IT consultancy to extension your in-house staff using dedicated team, creating solutions for custom software and offering support & maintenance to achieve your business goals" />
    <meta name="twitter:tittle" content="MileStep | Web & Mobile App Development Company" />
    <meta name="twitter:image" content="https://i.imgur.com/hDuPtvj.jpg">
    <meta property="og:locale" content="en_US">
    <meta property="og:tittle" content="MileStep | Web & Mobile App Development Company">
    <meta property="og:type" content="website">
    <meta property="og:description" content="MileStep is an outsourcing company that provides software development services, ranging from technical IT consultancy to extension your in-house staff using dedicated team, creating solutions for custom software and offering support & maintenance to achieve your business goals">
    <meta property="og:url" content="https://milestep.io/">
    <meta property="og:site_name" content="">
    <meta property="og:image" content="https://i.imgur.com/yERJpYN.png">
    <link rel="icon" href="favicon.png" type="image/png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KDZM8HX"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

    <%= yield %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script>
  </body>
</html>
